name: Release

on:
  release:
    types: [published, released]

jobs:
  deploy-pre:
    if: "github.event.release.prerelease"
    name: "Publish PreRelease"
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
        run: |
          git config --local user.email "$(git log --format='%ae' HEAD^!)"
          git config --local user.name "$(git log --format='%an' HEAD^!)"

      - name: Publish
        run: |
          npm ci
          npm version prerelease --preid beta
          npm publish
          git push

  deploy:
    if: "!github.event.release.prerelease"
    name: "Publish Release"
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
        run: |
          git config --local user.email "$(git log --format='%ae' HEAD^!)"
          git config --local user.name "$(git log --format='%an' HEAD^!)"

      - name: Publish
        run: |
          npm ci
          npm version ${{ github.event.release.tag_name }}
          npm publish
          git push
